@font-face {
    font-family: logo;
    src: url(../font/Barbra-Regular.otf);
}

@font-face {
    font-family: slogan;
    src: url(../font/Simonetta-Regular.ttf);
}

@font-face {
    font-family: text;
    src: url(../font/Helvetica.ttf);
}

.back4 {
    background: rgb(214, 132, 69);
    background: linear-gradient(90deg, rgba(214, 132, 69, 1) 35%, rgba(245, 229, 215, 1) 100%);
  }

.navbarBack4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logoBack4 {
    display: flex;
    align-items: center;
    font-family: 'logo';
}

.navbar-logoBack4 a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logoBack4 img.logoImg {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.navbar-logoBack4 p {
    margin: 0;
    font-family: 'logo';
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menuBack4 button {
    font-family: 'text';
    list-style: none;
    display: flex;
    margin-right: 25px;
    padding: 15px;
    background-color: white;
    color: rgb(214, 132, 69);
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.navbar-menuBack4 button:hover {
    box-shadow: 5px 5px 5px rgba(86, 84, 84, 0.495);
}

.navbar-menuBack4 ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menuBack4 ul li a:hover {
    color: #ddd;
}



.back4 h1 {
    color: white;
    font-family: text;
    font-size: 50px;
    margin-bottom: 50px;
    /* padding: 50px; */
    font-weight: bold;
}


.back4 h2 {
    color: white;
    font-family: text;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

.back4 select {
    font-family: 'text';
    list-style: none;
    margin-right: 25px;
    padding: 15px;
    background-color: white;
    color: rgb(214, 132, 69);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.pBack4 {
    color: white;
    font-family: text;
    font-weight: bold;
}

.pBack4Bis {
    color: rgb(214, 132, 69);
    font-family: text;
    font-weight: bold;
    font-size: 18px;
}

.inputBack4{
    color: rgb(214, 132, 69) !important; 
}

.back4 button, input{
    font-family: 'text';
    list-style: none;
    margin-right: 25px;
    padding: 15px;
    background-color: white;
    /* color: rgb(214, 132, 69); */
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    /* margin-bottom: 20px; */
    margin-left: 10px;
}

.back4 button:hover {
    box-shadow: 5px 5px 5px rgba(86, 84, 84, 0.495);
}

.profil{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.conv{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 250px;
    margin-right: 250px;
}
.mess {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .message-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .message-left {
    justify-content: flex-start;
  }
  
  .message-right {
    justify-content: flex-end;
  }
  
  .message-box {
    max-width: 40%;
    padding: 15px;
    border-radius: 10px;
    background-color: #918f8f;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
  }
  
  .message-right .message-box {
    background-color: #44c2c3;
    text-align: right;
  }
  
  .message-box strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .message-box small {
    display: block;
    margin-top: 5px;
    font-size: 0.8rem;
  }
  
.messages{
    margin-bottom: 50px;
}
  

.back4h22{
    color: rgb(214, 132, 69) !important;
}

textarea{
    color: rgb(214, 132, 69);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.register-formBack4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-formBack4 form {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.register-formBack4 textarea {
    width: 80%;
    resize: none;
}

.register-formBack4 button {
    width: 100%;
    margin-top: 10px;
}
